In [8]:
import pandas as pd
df = pd.read_csv('Salaries.csv')
df

<ipython-input-8-bf2bd72c5e46>:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [10]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [ ]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [ ]:
df.shape[0]
# df.shape

148654

In [ ]:
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [ ]:
df.nunique()

Id                  148654
EmployeeName        110811
JobTitle              2159
BasePay             109900
OvertimePay          66555
OtherPay             84968
Benefits             99635
TotalPay            138486
TotalPayBenefits    142098
Year                     4
Notes                    0
Agency                   1
Status                   2
dtype: int64

In [ ]:
df['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [ ]:
# This returns all rows for the TotalPay and TotalPayBenefits columns
df[['TotalPay','TotalPayBenefits']]

         TotalPay  TotalPayBenefits
0       567595.43         567595.43
1       538909.28         538909.28
2       335279.91         335279.91
3       332343.61         332343.61
4       326373.19         326373.19
...           ...               ...
148649       0.00              0.00
148650       0.00              0.00
148651       0.00              0.00
148652       0.00              0.00
148653    -618.13           -618.13

[148654 rows x 2 columns]

In [ ]:
# This returns all rows for the TotalPay and TotalPayBenefits columns where Year = 2011
df.loc[df['Year'] == 2011,['TotalPay','TotalPayBenefits']]
# This returns the rows from index 0 to 5 for the TotalPay and TotalPayBenefits columns
df.loc[:5,['TotalPay','TotalPayBenefits']]

        TotalPay  TotalPayBenefits
0      567595.43         567595.43
1      538909.28         538909.28
2      335279.91         335279.91
3      332343.61         332343.61
4      326373.19         326373.19
...          ...               ...
36154       4.17              4.17
36155       0.30              0.30
36156       0.00              0.00
36157       0.00              0.00
36158       0.00              0.00

[36159 rows x 2 columns]

In [11]:
# This returns the rows with indexes 0-5 and the first three columns
df.iloc[0:6,[0,1,2]]

   Id       EmployeeName                                        JobTitle
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6     DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II

In [12]:
# Filtering
df[df['Year'] == 2011]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36154,36155,SERENA HUGHES,SWIMMING INSTRUCTOR/POOL LIFEGUARD,0.0,0.0,4.17,NaN,4.17,4.17,2011,NaN,San Francisco,NaN
36155,36156,JOE BROWN JR,TRANSIT OPERATOR,0.0,0.0,0.3,NaN,0.30,0.30,2011,NaN,San Francisco,NaN
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.00,0.00,2011,NaN,San Francisco,NaN

In [22]:
df.sort_values(['TotalPay',],ascending = False)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
36159,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106781,106782,Su-Wen McManus,Secretary 2,NaN,0.0,0.0,7959.18,0.00,7959.18,2013,NaN,San Francisco,NaN
106780,106781,Kimberly F Johnson,Transit Operator,NaN,0.0,0.0,7959.18,0.00,7959.18,2013,NaN,San Francisco,NaN
106779,106780,Jack L Brodnax Jr,Junior Management Assistant,NaN,0.0,0.0,7959.18,0.00,7959.18,2013,NaN,San Francisco,NaN
106778,106779,Ronald R Orge,Parking Control Officer,NaN,0.0,0.0,7959.18,0.00,7959.18,2013,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [76]:
# Calculate the average TotalPayBenefits for each year
groupby_Year = df.groupby('Year')['TotalPayBenefits'].mean()
groupby_Year
# Choose the max and min TotalPayBenefits for each year
# groupby_Year = df.groupby('Year').TotalPayBenefits.agg(['max','min'])
# groupby_Year

Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [38]:
# Check datatypes -----> columns that have mixed data types are (Basepay-Overtimepay-Otherpay-Benefits)
df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [40]:
# Check duplicates
df.duplicated().sum()

0

In [41]:
df.drop(columns = 'Id', inplace = True)

In [42]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [44]:
df.duplicated().sum()

3

In [48]:
# Check null values with the name of the column
pd.DataFrame({'Null':df.isnull().sum()})

                    Null
EmployeeName           0
JobTitle               0
BasePay              605
OvertimePay            0
OtherPay               0
Benefits           36159
TotalPay               0
TotalPayBenefits       0
Year                   0
Notes             148654
Agency                 0
Status            110535

In [51]:
(pd.DataFrame({'Pct_Null':df.isnull().sum()}) / df.shape[0]) * 100

                    Pct_Null
EmployeeName        0.000000
JobTitle            0.000000
BasePay             0.406985
OvertimePay         0.000000
OtherPay            0.000000
Benefits           24.324270
TotalPay            0.000000
TotalPayBenefits    0.000000
Year                0.000000
Notes             100.000000
Agency              0.000000
Status             74.357232

Check irrelevant columns:

1- Notes -----> 100% nulls

2- Agency ---> SF

In [52]:
df['Agency'].value_counts()

Agency
San Francisco    148654
Name: count, dtype: int64

In [53]:
df['Status'].value_counts()

Status
FT    22334
PT    15785
Name: count, dtype: int64

preprocessing(cleaning data)

In [54]:
# Drop irrelevant columns
df.drop(columns = ['Notes', 'Agency'], inplace = True)

In [55]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Status'],
      dtype='object')

In [56]:
# Drop duplicates
df.drop_duplicates(inplace = True)

In [57]:
df.duplicated().sum()

0

In [59]:
# to_numeric ----> convert datatype to numbers
# errors = 'coerce' ----> convert datatype to NaN ----->float

df['BasePay'] = pd.to_numeric(df['BasePay'], errors = 'coerce')
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors = 'coerce')
df['OtherPay'] = pd.to_numeric(df['OtherPay'], errors = 'coerce')
df['Benefits'] = pd.to_numeric(df['Benefits'], errors = 'coerce')

In [60]:
df.dtypes

EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Status               object
dtype: object

In [62]:
df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148045.000000,148650.000000,148650.000000,112491.000000,148651.000000,148651.000000,148651.000000
mean,66325.448840,5066.059886,3648.767297,25007.893151,74769.830909,93694.445667,2012.522613
std,42764.635495,11454.380559,8056.601866,15402.215858,50516.398338,62792.756431,1.117529
min,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000
25%,33588.200000,0.000000,0.000000,11535.395000,36169.340000,44071.405000,2012.000000
50%,65007.450000,0.000000,811.270000,28628.620000,71427.220000,92406.010000,2013.000000
75%,94691.050000,4658.175000,4236.065000,35566.855000,105841.940000,132877.495000,2014.000000
max,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000

In [ ]:
# ---> fill nulls:
# nulls are very large -----> remove nulls (drop)
# nulls are large (in average)----> replace nulls ---> median / mean (fillna)
# nulls are small -------> remove rows / replace by 0 (dropna)

In [64]:
df['BasePay'].fillna(0, inplace = True)

<ipython-input-64-4e2eddc4f1ba>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BasePay'].fillna(0, inplace = True)

In [65]:
df['Benefits'].fillna(df['Benefits'].median(), inplace = True)

<ipython-input-65-bf126c8f72c8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Benefits'].fillna(df['Benefits'].median(), inplace = True)

In [67]:
df.drop(columns = 'Status' , inplace = True)

In [68]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [69]:
df.isnull().sum()

EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         1
OtherPay            1
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

In [70]:
df.dropna(subset = ['OvertimePay', 'OtherPay'], inplace = True)

In [71]:
df.isnull().sum()

EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

1- What is the average BasePay?

In [72]:
avg = df['BasePay'].mean()
print(f'The average BasePay is {avg}')

The average BasePay is 66055.50671772621

2- What is the average BasePay for each year?

In [79]:
avg_BasePay = df.groupby('Year')['BasePay'].mean()
avg_BasePay.sort_values(ascending = False)

Year
2013    68509.832156
2014    66564.421924
2012    65436.406857
2011    63595.956517
Name: BasePay, dtype: float64

3- What is the highest BasePay?

In [80]:
highest_BasePay = df['BasePay'].max()
print(f'The highest BasePay is {highest_BasePay}')

The highest BasePay is 319275.01

4- What is the lowest BasePay?

In [82]:
lowest_BasePay = df['BasePay'].min()
print(f'The lowest BasePay is {lowest_BasePay}')

The lowest BasePay is -166.01

5- What is the average totalpaybenefits per year?

In [86]:
avg_totalpaybenefits = df.groupby('Year')['TotalPayBenefits'].mean()
(pd.DataFrame({'Avg_TotalPayBenefits':avg_totalpaybenefits.sort_values(ascending = False)}))

      Avg_TotalPayBenefits
Year
2013         101440.519714
2012         100553.229232
2014         100261.438668
2011          71744.103871

6- What is the average BasePay for each job title?

In [88]:
Avg_BasePay = df.groupby('JobTitle')['BasePay'].mean()
(pd.DataFrame({'Avg_BasePay':Avg_BasePay.sort_values(ascending = False)}))

                                           Avg_BasePay
JobTitle
Chief of Police                          309767.683333
Chief, Fire Department                   304232.340000
Gen Mgr, Public Trnsp Dept               297769.413333
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)   285262.000000
Dep Dir for Investments, Ret             276153.765000
...                                                ...
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN       0.000000
Drug Court Coordinator                        0.000000
Public Safety Comm Tech                       0.000000
ASSISTANT RECREATION SUPERVISOR               0.000000
IS Technician Assistant                       0.000000

[2158 rows x 1 columns]

7- Who take the highest BasePay?

In [96]:
# df.loc[df['Year'] == 2011,['TotalPay','TotalPayBenefits']]
x = df.loc[df['BasePay'].idxmax(),['EmployeeName','BasePay']]
x

EmployeeName    Gregory P Suhr
BasePay              319275.01
Name: 72925, dtype: object